<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-4">
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
                <div class="form-group">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" #name="ngModel"
                        [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter your Name">
                </div>
                <div class="form-group">
                    <label>Position</label>
                    <input type="text" class="form-control" name="position" #name="ngModel"
                        [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Enter your position">
                </div>
                <div class="form-group">
                    <label>Office</label>
                    <input type="text" class="form-control" name="office" #name="ngModel"
                        [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Enter your office" required>
                </div>
                <div class="form-group">
                    <label>Salary</label>
                    <input type="text" class="form-control" name="salary" #name="ngModel"
                        [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Enter your salary">
                </div>
                <button type="button" class="btn btn-primary" (click)="resetForm(employeeForm)">Reset</button>
                &nbsp; &nbsp;
                <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Submit</button>


            </form>
        </div>
        <div class="col-md-6 mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Office</th>
                        <th scope="col">Salary</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employeeService.employees; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{emp.name}}</td>
                        <td>{{emp.position}}</td>
                        <td>{{emp.office}}</td>
                        <td>{{emp.salary}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="onEdit(emp)">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                (click)="onDelete(emp._id, employeeForm)">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
    <!-- <label>
        <input type="radio" name="checkBox" #name="ngModel" [(ngModel)]="answer" value="YES"> YES
    </label>
    
    <label>
        <input type="radio" name="checkBoxNew" [(ngModel)]="answer" value="NO"> NO
    </label> -->
    <br>
    <label>
        <input type="radio" value="RED" [(ngModel)]="answer" name="fav-color"> RED
    </label>
    <br>
    <label>
        <input type="radio" value="BLUE" [(ngModel)]="answer" name="fav-color"> BLUE
    </label>
    <br>
    <label>
        <input type="radio" value="PURPLE" [(ngModel)]="answer" name="fav-color"> PURPLE
    </label>
    <br>
    <label>
        <input type="radio" value="YELLOW" [(ngModel)]="answer" name="fav-color"> YELLOW
    </label>
    <br>

    Selected checkBox value: {{answer}}
</div>

<!-- Login Form -->
<div class="login-main">
    <div class="container">
        <div class="login-box">
            <div class="row no-gutters">
                <div class="col-md-6 offset-1 d-none d-sm-block">
                    <img src="../../assets/images/form-img.jpg" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <div class="login-details">
                        <div class="brand-logo">
                            <img src="../../assets/images/logo.png">
                        </div>
                        <p class="login-text">Fill in the fields to login to your account</p>
                        <form>
                            <div class="form-group mb-4">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="*****">
                            </div>
                            <div class="text-right">
                                <a href="#" class="fg-pass">Forgot Password?</a>
                            </div>
                            <button class="btn btn-primary login-btn">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
